<body>
 <div class="bcontainer">
  <div class="container">
 <div class="box1"> 
    <img src="https://s3-alpha-sig.figma.com/img/5a2f/efe7/e6e913c64abc73e5616fdac852e235c4?Expires=1671408000&Signature=PPVazl7sdlqi3Rr3L8vuvb7aweVA65qpoXheSr6CC~YVAlSO1UX2QziY6sJUOmaMoVPTafhcO~3GLLSGhap45qBGqjSq5IQufTEVzBSmZKU1W6ZQPKESEGtfxpS4nqUr6ykWJ9DzFDWDFL6zjNCPNisPe77iGSJGTmD8MJvp5SIsNiX~PKl7nXgpjJcTWBix8xnpnyA8D56bZz6SHmGFeCg9LAEEzDb26RqHYADKDB9HzFi6C6Ybdq-ch0Tnn0wcc7UWqK6Mlp9oTuzLi7~vYehgZ9CAR8XoZL5XvNokTC5ZPurvBMSQFpJ6c4Ir9FSpKskmwmH8qT0sHlVo6~4ZJw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" height="315px">
 </div>

    <div class="box2">
      <h1>Welcome</h1>
      <p> we're glad you are here!Sign up to start </p>
      <button  (click)="goto('register')" routerLink="register" routerLinkActive="router-link-active" 
       type="button" class="btn btn-primary btn-lg btn-block">Get started</button>
    </div>
  


  <router-outlet></router-outlet>

  

  </div>  
  </div>  

  </body>